.bg-custom {
    background-color: #032541;
    font-size: 18px; /* Ajusta el tamaño del texto según tus preferencias */
    padding: 20px 0; /* Añade espacio alrededor del contenido del footer */
  }
  .a {
    color: #fff;
  }