/* footer.css */

.footer-style {
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(35,97,146,1) 100%, rgba(0,212,255,1) 100%);
  color: #fff;
  font-size: 18px;
  padding: 20px 0;
}
  
.footer-style p {
  margin: 0;
}

.footer-style .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-style .col-md-6 {
  flex: 0 0 50%; 
}
  
