.bg-custom {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(35,97,146,1) 100%, rgba(0,212,255,1) 100%);
}

.navbar .navbar-brand, .navbar .navbar-nav .nav-link {
    color: white;
}

.navbar-custom .navbar-brand:hover {
    color: #00d4ff;
}

.navbar-custom .navbar-nav .nav-link:hover {
    color: #00d4ff;
}