.container-boletos {
    text-align: center;
    padding: 24px 0 24px 0;
}

.container-boletos {
    margin: 0 80px;
}

@media (max-width: 991.98px) {
    .container-boletos {
        margin: 0;
    }
}

.display-cantidad-boletos {
    display: inline-block;
    padding: 6px 24px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 0 8px;
}

.disabled-btn {
    opacity: 0.5;
}