.container-boletos {
    text-align: center;
    padding: 24px 0 24px 0;
}

.container-boletos {
    margin: 0 80px;
}

@media (max-width: 991.98px) {
    .container-boletos {
        margin: 0;
    }
}

.custom-btn-success {
    color: white;
    background-color: rgb(0, 56, 99);
    border: none;
    outline: none;
    border-radius: 50px;
    padding: 4px 48px 6px 48px;
    font-size: 24px;
    margin-top: 50px;
    text-align: center;
}

.custom-btn-success:hover {
    background-color: #055eb1;
    color: white;
    transition: 0.25s;
}

.custom-btn {
    background-color: white;
    border-color: black;
    border-radius: 5px;
}

.custom-btn:hover {
    background-color: #e6e6e6;
    border-color: black;
}

.display-cantidad-boletos {
    display: inline-block;
    padding: 3px 24px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 0 8px;
}

.disabled-btn {
    opacity: 0.5;
}