.pasos-group {
    transition: opacity 0.3s ease-in-out;
  }
  
  .pasos-group .active {
    opacity: 1;
  }
  
  .pasos-group .card {
    opacity: 0.5;
  }
  
  .reset-card-styles .card {
    border: none;
    border-radius: 0;
  }

.custom-progress-bar {
  border-bottom: 1px solid #ccc;
  padding: 5px 0 10px 0;
}